<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jokes</title>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bangers&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Fredoka:wght@300..700&display=swap"
        rel="stylesheet">
</head>

<body>
    <section>
    <div class="main">
        <div class="container-fluid " style=" padding-bottom: 0.3rem;">
            <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom ">
                 <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" aria-hidden="true"></svg>
                        <use xlink:href="#bootstrap"></use>
                        <span class="font fs-3 font2 io" style="display: flex;
                        justify-content: center; align-items: center;">Joke.io</span> </a>
                <nav class="navbar navbar-expand-lg navbar-dark font font2">
                    <div class="container-fluid">
                 <ul class="nav nav-pills me-5 "> 
                <li class="nav-item fs-5"><a href="#" class="nav-link  font font2" aria-current="page">Home</a>
                </li>
                <li class="nav-item fs-5"><a href="/" class="nav-link font font2 ">Features</a></li>
                <li class="nav-item fs-5"><a href="#" class="nav-link font font2">Pricing</a></li>
                <li class="nav-item fs-5"><a href="#" class="nav-link font font2">FAQs</a></li>
                <li class="nav-item fs-5"><a href="#" class="nav-link font font2">About</a></li>
            </ul>
          
            </header>
        </div>